{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-start mb-3">
        <a href="{% url 'coordinador_home:home_coordinador' %}" class="btn btn-warning" style="background-color: #620b0b; color:white;">Menu</a>
    </div>

    <h2 class="text-center mb-4">Lista de Empleados</h2>

    <!-- Barra de búsqueda -->
    <div class="mb-4">
        <form method="get" class="form-inline">
            <input type="text" name="search" class="form-control mr-2" placeholder="Buscar por nombre o correo" value="{{ request.GET.search }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>

    {% if empleados %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>Edad</th>
                    <th>Rol</th>
                    <th>Ubicacion asignada</th>
                    <th>situacion de la figuara educativas</th>
                    <th>tipo de servicio</th>
                    <th>contexto</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr id="empleado_{{ empleado.id }}">
                    <td>{{ empleado.datos_personales.nombre }} 
                        {{ empleado.datos_personales.apellidopa }} 
                        {{ empleado.datos_personales.apellidoma }}</td>
                    <td>{{ empleado.datos_personales.edad }}</td>
                    <td>{{ empleado.usuario.rol }}</td>
                    <td>no asignada</td>
                    <td>no asignada</td>
                    <td>{{ empleado.participacion.tipo_servicio }}</td>
                    <td>{{ empleado.participacion.contexto }}</td>
                    <td> {{ empleado.usuario.statuses.status }} </td>
                    
                    <td>
                        <a href="{% url 'coordinador_home:detalles_educador' empleado.id %}" class="btn btn-info">Detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Paginación -->
    <div class="d-flex justify-content-center mt-4">
        <div>
            <span class="mr-2">Página {{ empleados.number }} de {{ empleados.paginator.num_pages }}</span>
            <span>
                {% if empleados.has_previous %}
                    <a href="?page=1" class="btn btn-secondary">Primera</a>
                    <a href="?page={{ empleados.previous_page_number }}" class="btn btn-secondary">Anterior</a>
                {% endif %}
                {% if empleados.has_next %}
                    <a href="?page={{ empleados.next_page_number }}" class="btn btn-secondary">Siguiente</a>
                    <a href="?page={{ empleados.paginator.num_pages }}" class="btn btn-secondary">Última</a>
                {% endif %}
            </span>
        </div>
    </div>

    {% else %}
    <p class="text-center">No hay empleados registrados con los roles solicitados.</p>
    {% endif %}
</div>
{% endblock %}



