{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard de Aspirantes{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-start mb-3">
        <a href="{% url 'coordinador_home:home_coordinador' %}" class="btn btn-warning" style="background-color: #620b0b; color:white;">Menú</a>
    </div>

    <h2 class="text-center mb-4">Dashboard de Aspirantes</h2>

    {% if aspirantes %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Folio</th>
                    <th>Nombre</th>
                    <th>Domicilio</th>
                    <th>Municipio/Alcaldía</th>
                    <th>Colonia</th>
                    <th>Calle</th>
                </tr>
            </thead>
            <tbody>
                {% for aspirante in aspirantes %}
                {% if aspirante.folio %}
                <tr id="aspirante_{{ aspirante.id }}">
                    <td>{{ aspirante.folio }}</td>
                    <td>{{ aspirante.datos_personales.nombre }} 
                      {{ aspirante.datos_personales.apellidopa }} 
                      {{ aspirante.datos_personales.apellidoma }}</td>
                    <td>{{ aspirante.residencia.estado }}, {{ aspirante.residencia.municipio_alcaldia }}, 
                      {{ aspirante.residencia.colonia }}, {{ aspirante.residencia.calle }} </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="text-center">No hay aspirantes registrados.</p>
    {% endif %}
</div>
{% endblock %}


