{% extends "base.html" %}

{% block title %}Home Director{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">Home Director</h2>
  <p class="text-center">Bienvenido Director!</p>
  <div class="row text-center">
    <!-- Botón Agregar -->
    <div class="col-md-4 mb-4">
      <a href="{% url 'dot_home:home_agregar' %}" class="btn btn-primary btn-block">
        <i class="fas fa-plus"></i> Agregar
      </a>
    </div>

     <!-- Botón Visualizar -->
     <div class="col-md-4 mb-4">
      <a href="{% url 'dot_home:dashboard_visualizar' %}" class="btn btn-primary btn-block">
        <i class="fas fa-eye"></i> Visualizar
      </a>
    </div>


    <!-- Botón Modificar -->
    <div class="col-md-4 mb-4">
      <a href="{% url 'dot_home:dashboard_modificar' %}" class="btn btn-warning btn-block">
        <i class="fas fa-edit"></i> Modificar
      </a>>
    </div>
    

    <!-- Botón Status (nuevo formulario) -->
    <div class="col-md-4 mb-4">
      <a href="{% url 'dot_home:dasboard_status' %}" class="btn btn-success btn-block">
          <i class="fas fa-users"></i> Actualizar Status
      </a>
  </div>

    
    <!-- Botón asignacion -->
    <div class="col-md-4 mb-4">
      <a href="{% url 'dot_home:dashboard_eleminar' %}" class="btn btn-danger btn-block">
      <i class="fas fa-trash"></i> Eliminar
      </a>
    </div>


    <!-- Botón Vacantes -->
    <div class="col-md-4 mb-4">
      <a href="{% url 'dot_home:dashboard_vacantes' %}" class="btn btn-info btn-block">
      <i class="fas fa-briefcase"></i> Vacantes
      </a>
    </div>
   

    <!-- Botón Documentación -->
    <div class="container mt-1 text-center">
      <div class="row justify-content-center">
          <!-- Otros botones aquí -->
          <div class="col-md-4 mb-5">
              <a href="{% url 'dot_home:visualizacion_docs' %}" class="btn btn-secondary btn-block">
                  <i class="fas fa-file-alt"></i> Documentación
              </a>
          </div>
      </div>
  </div>

</div>
{% endblock %}
