{% extends "base.html" %}

{% block title %}Agregar Nuevo Usuario{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-start mb-3">
    <a href="{% url 'dot_home:home_dot' %}" class="btn btn-warning" style="background-color: #620b0b; color:white">Menú</a>
  </div>

  <h2 class="text-center mb-4">Agregar Nuevo Usuario</h2>

  <!-- Bloque para mostrar los mensajes -->
  {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <!-- Nombre del Usuario -->
      <div class="col-md-6 mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre del Usuario" required>
      </div>

      <!-- Apellido Paterno -->
      <div class="col-md-6 mb-3">
        <label for="apellidopa">Apellido Paterno</label>
        <input type="text" id="apellidopa" name="apellidopa" class="form-control" placeholder="Apellido Paterno" required>
      </div>

      <!-- Apellido Materno -->
      <div class="col-md-6 mb-3">
        <label for="apellidoma">Apellido Materno</label>
        <input type="text" id="apellidoma" name="apellidoma" class="form-control" placeholder="Apellido Materno" required>
      </div>

      <!-- Correo Electrónico -->
      <div class="col-md-6 mb-3">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email del Usuario" required>
      </div>

      <!-- Edad -->
      <div class="col-md-6 mb-3">
        <label for="edad">Edad</label>
        {{ datos_personales_form.edad }}
      </div>

      <!-- Género -->
      <div class="col-md-6 mb-3">
        <label for="genero">Género</label><br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" id="masculino" value="Masculino" checked>
          <label class="form-check-label" for="masculino">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" id="femenino" value="Femenino">
          <label class="form-check-label" for="femenino">Femenino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" id="otro" value="Otro">
          <label class="form-check-label" for="otro">Otro</label>
        </div>
      </div>

      <!-- Formación Académica -->
      <div class="col-md-6 mb-3">
        <label for="formacion_academica">Formación Académica</label>
        <select name="formacion_academica" class="form-control" id="formacion_academica">
          <option value="preparatoria">Preparatoria</option>
          <option value="tecnica">Tecnica</option>
          <option value="universidad">Universidad</option>
        </select>
      </div>

      <!-- CURP -->
      <div class="col-md-6 mb-3">
        <label for="curp">CURP</label>
        <input type="text" id="curp" name="curp" class="form-control" placeholder="CURP del Usuario" required>
      </div>

      <!-- Foto -->
      <div class="col-md-6 mb-3">
        <label for="fotografia">Foto del Usuario</label>
        <input type="file" id="fotografia" name="fotografia" class="form-control-file">
      </div>

      <!-- Campos de Usuario y Contraseña -->
      <div class="col-md-6 mb-3">
        <label for="username">Nombre de Usuario</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de Usuario" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
      </div>

      <!-- Rol del Usuario -->
      <div class="col-md-6 mb-3">
        <label for="rol">Rol</label>
        <select id="rol" name="rol" class="form-control" required>
          <option value="">Selecciona el Rol</option>
          <option value="CT">Coordinador Territorial</option>
          <option value="DECB">Dirección de Educación Comunitaria e Inclusión Social</option>
          <option value="DPE">Dirección de Planeación y Evaluación</option>
          <option value="EC">Educador Comunitario</option>
          <option value="ECA">Educador Comunitario de Acompañamiento Microrregional</option>
          <option value="ECAR">Educador Comunitario de Acompañamiento Regional</option>
          <option value="APEC">Asesor de Promoción y Educación Comunitaria</option>
        </select>
      </div>

      <!-- Documentos Personales -->
      <div class="col-md-6 mb-3">
        <label for="identificacion_oficial">Identificación Oficial</label>
        <input type="file" id="identificacion_oficial" name="identificacion_oficial" class="form-control-file" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="comprobante_domicilio">Comprobante de Domicilio</label>
        <input type="file" id="comprobante_domicilio" name="comprobante_domicilio" class="form-control-file" required>
      </div>

      <div class="col-md-6 mb-3">
        <label for="certificado_estudio">Certificado de Estudio</label>
        <input type="file" id="certificado_estudio" name="certificado_estudio" class="form-control-file" required>
      </div>

      <!-- Botón de envío -->
      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-success btn-block" style="background-color: #620b0b">  
          Registrar Usuario <i class="fas fa-check-circle"></i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}





